<div class="main-container-reservation">
    <p class="main-container-reservation-title">Введіть дані для бронювання:</p>
    <div class="main-container-reservation-form">
        <div class="main-container-reservation-form-field">
            <div class="main-container-reservation-form-name">
                <p class="main-container-reservation-form-p">Ім'я:</p>
                <input class="main-container-reservation-form-input" type="text">
            </div>
            <div class="main-container-reservation-form-people">
                <p class="main-container-reservation-form-p">Кількість людей:</p>
                <div class="people-buttons">
                    <button class="people-button-choose">1</button>
                    <button class="people-button-choose">2</button>
                    <button class="people-button-choose">3</button>
                    <button class="people-button-choose">4+</button>
                </div>
            </div>
            <div class="main-container-reservation-form-birth">
                <p class="main-container-reservation-form-p">Оберіть дату:</p>
                <!-- <input class="main-container-reservation-form-input" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
            </div>
            <div class="main-container-reservation-form-phone">
                <p class="main-container-reservation-form-p">Номер телефону:</p>
                <input class="main-container-reservation-form-input" type="text" placeholder="(___) ____ __ __">
            </div>
        </div>
        <button class="main-container-reservation-form-button-input">Забронювати</button>
    </div>
</div>