<div class="main-container-reservation">
    <p class="main-container-reservation-title">Введіть дані для бронювання:</p>
    <div class="main-container-reservation-form">
        <div class="main-container-reservation-form-field">
            <div class="main-container-reservation-form-people">
                <p class="main-container-reservation-form-p">Кількість людей:</p>
                <div class="people-buttons">
                    <label><input class="people-button-choose" type="radio" name="buttons">1</label>
                    <label><input class="people-button-choose" type="radio" name="buttons">2</label>
                    <label><input class="people-button-choose" type="radio" name="buttons">3</label>
                    <label><input class="people-button-choose" type="radio" name="buttons">4+</label>
                </div>
            </div>
            <div class="main-container-reservation-form-date">
                <p class="main-container-reservation-form-p">Оберіть дату:</p>
                <mat-form-field>
                    <mat-label>Оберіть дату</mat-label>
                    <input id="dateInput" matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="main-container-reservation-form-name">
                <!-- <p class="main-container-reservation-form-p">Ім'я:</p> -->
                <input class="main-container-reservation-form-input" type="text" placeholder="Введіть своє ім'я">
            </div>
            <div class="main-container-reservation-form-phone">
                <!-- <p class="main-container-reservation-form-p">Номер телефону:</p> -->
                <input class="main-container-reservation-form-input" type="text" placeholder="Введіть номер телефону">
            </div>
            
            
        </div>
        <button class="main-container-reservation-form-button-input" [routerLink]="['/reservation/approved']">Забронювати</button>
    </div>
</div>