<footer>
    <div class="main">
        <div>
            <h5>Контакти:</h5>
            <li>465-789-321</li>
            <li>kawa.cafe@gmail.com</li>
        </div>
        <div>
            <h5>Графік роботи:</h5>
            <li>Пн-Пт: 8:00 – 22:00</li>
            <li>Сб-Нд: 10:00 – 22:00</li>
        </div>
        <div>
            <h5>Корисна інформація:</h5>
            <div>
                <li>Вакансії</li>
                <li>Залишити відгук</li>
                <li>Адміністрація</li>
            </div>
            <div>
                <li>Локації</li>
                <li>Партнерство</li>
                <li>Франшиза</li>
            </div>
        </div>
        <div>
            <h5>Соціальні мережі:</h5>
            <img src="assets/img/linkedin.png" alt="">
            <img src="assets/img/facebook.png" alt="">
            <img src="assets/img/instagram.png" alt="">
            <img src="assets/img/twitter.png" alt="">
            <img src="assets/img/telegram.png" alt="">
            <img src="assets/img/youtube.png" alt="">
            <img src="assets/img/tiktok.png" alt="">
        </div>
        <p>@2023 Kawa Всі права захищені</p>
    </div>
    
</footer>