footer {
    background-color: #F5F8DE;
    color: #4C4444;
    height: 210px;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3em;
}

li {
    list-style: none;
}