<div class="Ccontainer">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Ім'я </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Birth date Column -->
    <ng-container matColumnDef="birth">
      <th mat-header-cell *matHeaderCellDef> Дата народження </th>
      <td mat-cell *matCellDef="let element"> {{element.birth}} </td>
    </ng-container>
  
    <!-- Phone number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Номер телефону </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
  
    <!-- QR Column
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Номер телефону </th>
      <td mat-cell *matCellDef="let element">
        <qrcode class="generatedQR" [qrdata]="myQR" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  
  