<footer>
    <div class="main">
        <div class="info">
            <h4>Контакти:</h4>
            <div class="contacts">
                <li>465-789-321</li>
                <li>kawa.cafe@gmail.com</li>
            </div>
        </div>
        <div class="info">
            <h4>Графік роботи:</h4>
            <div class="work">
                <li>Пн-Пт: 8:00 – 22:00</li>
                <li>Сб-Нд: 10:00 – 22:00</li>
            </div>
        </div>
        <div class="info">
            <h4>Корисна інформація:</h4>
            <div class="inf">
                <div class="inf1">
                    <li>Вакансії</li>
                    <li>Залишити відгук</li>
                    <li>Адміністрація</li>
                </div>
                <div class="inf2">
                    <li>Локації</li>
                    <li>Партнерство</li>
                    <li>Франшиза</li>
                </div>
            </div>  
        </div>
        <div class="info">
            <h4>Соціальні мережі:</h4>
            <div class="social">
                <img src="assets/img/facebook.png" alt="">
                <img src="assets/img/instagram.png" alt="">
                <img src="assets/img/twitter.png" alt="">
                <img src="assets/img/telegram.png" alt="">
                <img src="assets/img/youtube.png" alt="">
                <img src="assets/img/tiktok.png" alt="">
            </div>
           
        </div>
        <div class="rights">
            <p>@2023 Kawa Всі права захищені</p>
        </div>
    </div>
    
</footer>