<footer>
    <div class="main">
        <div class="info">
            <h4 class="bigText">Контакти:</h4>
            <div class="contacts">
                <li class='undertext'>465-789-321</li>
                <li class='undertext'>kawa.cafe@gmail.com</li>
            </div>
        </div>
        <div class="info">
            <h4 class="bigText">Графік роботи:</h4>
            <div class="work">
                <li class='undertext'>Пн-Пт: 8:00 – 22:00</li>
                <li class='undertext'>Сб-Нд: 10:00 – 22:00</li>
            </div>
        </div>
        <div class="info">
            <h4 class="bigText">Корисна інформація:</h4>
            <div class="inf">
                <div class="inf1">
                    <li class='undertext'>Вакансії</li>
                    <li class='undertext'>Залишити відгук</li>
                    <li class='undertext'><a class="admins" routerLink="/signin">Адміністрація</a></li>
                </div>
                <div class="inf2">
                    <li class='undertext'>Локації</li>
                    <li class='undertext'>Партнерство</li>
                    <li class='undertext'>Франшиза</li>
                </div>
            </div>  
        </div>
        <div class="info">
            <h4 class="bigText">Соціальні мережі:</h4>
            <div class="socialMedia">
                <img src="assets/img/facebook.png" alt="">
                <img src="assets/img/instagram.png" alt="">
                <img src="assets/img/twitter.png" alt="">
                <img src="assets/img/telegram.png" alt="">
                <img src="assets/img/youtube.png" alt="">
                <img src="assets/img/tiktok.png" alt="">
            </div>
           
        </div>
        <div class="rights">
            <p>@2023 Kawa Всі права захищені</p>
        </div>
    </div>
    
</footer>