footer {
    background-color: #F5F8DE;
    color: #4C4444;
    height: 210px;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 49px;
    align-items: center;
    justify-items: center;
    padding-top: 36px;
}

.undertext {
    list-style: none;
    font-size: 14px;
}

.info {
    display: grid;
    row-gap: 26px;
    place-items: center;

}

.rights {
    display: grid;
    place-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 12px;
}

.inf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.inf1 {
    display: grid;
    justify-items: center;
    font-weight: 300;

}

.inf2 {
    display: grid;
    justify-items: center;
    font-weight: 300;

}

.contacts {
    display: grid;
    justify-items: center;
    font-weight: 300;
}

.work {
    display: grid;
    justify-items: center;
    font-weight: 300;
}

.socialMedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.admins {
    all: unset;
}

.admins:hover {
    cursor: pointer;
  }

.bigText {
    font-weight:400;
    font-size: 22px;
}

