.logoImg {
    width: 100px;
    display: flex;
    align-items: center
}

/* mat-grid-tile {
    background: #F5F8DE;
    grid-gap: 0ch;
  } */

.navbar1 {
    background: #F5F8DE;
    display: flex;
    justify-content: space-between;
}

.header-items {
    all: unset;
    transition: 0.2s linear;
}

.header-items:hover {
    cursor: pointer;
}

.header-main-items:not(:last-of-type) {
    all: unset;
    color: #4C4444;
    padding-right: 1rem;
    font-size: 20px;
    margin-left: 40px;
    /* align-items: center; */
    /* background-color: #001eff; */
    height: 100%;
    /* align-self: center; */
}

.userlogo {
    /* background: #14ead5; */

    object-fit: cover;
    height: inherit;
    width: inherit;

    /* align-self: center; */
}

#userpicture {
    /* all: unset; */
    height: 24px;
    width: 24px;
    /* display: flex; */
    /* align-items: center; */
}

.items {
    /* background-color: #e70c0c; */
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* display: flex; */
}

/* .imagelogo {
    background-image: url('../../../assets/img/userProfile.png');
    display: inline-block;
    height: 24px;
    width: 24px;
} */

.account-icon {
    height: 24px;
    display: flex;
}

.active {
    color: #9a9c8a;
}

path {
    transition: 0.2s linear;
}

.active path {
    fill: #9a9c8a;
}
