.logoImg {
    width: 100px;
    display:flex;
    align-items: center
}

/* mat-grid-tile {
    background: #F5F8DE;
    grid-gap: 0ch;
  } */

.navbar1 {
    background: #F5F8DE;
    display: flex;
    justify-content: space-between;
}

span {
    padding-right: 1rem;
    font-size: 20px;
    margin-left: 40px;
}

.header-items {
    all: unset;
}

.header-items:hover {
    cursor: pointer;
}

.header-main-items {
    color: #4C4444;
}

