<mat-toolbar class="navbar1">
    <div class="item1"><a class='header-items'routerLink="/home" (click)="resetColor()"><img class="logoImg" src="assets/img/logoAngular.png" alt="logo"></a></div>
    <div class="item2">
        <div class="items">
            <span class='header-main-items' id="menu"><a class='header-items' routerLink="/menu/drinks" (click)="updateColor('menu')">Меню</a></span>
            <span class='header-main-items' id="reserv"><a class='header-items' routerLink="/reservation" (click)="updateColor('reserv')">Резервація столів</a></span>
            <span class='header-main-items' id="loyal"><a class='header-items' routerLink="/loyalty-program" (click)="updateColor('loyal')">Програма лояльності</a></span>
        </div>
    </div>
</mat-toolbar>

<!-- 
<mat-toolbar class="sidebar1">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <a class='header-items'routerLink="/home"><img class="logoImg" src="assets/img/logoAngular.png" alt="logo"></a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav>
        <mat-nav-list >
            <a mat-list-item routerLink="/menu">Меню</a>
            <a mat-list-item routerLink="/reservation">Резервація столів</a>
            <a mat-list-item routerLink="/loyalty-program">Програма лояльності</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;"></div>
    </mat-sidenav-content>
</mat-sidenav-container> -->
