.logoImg {
    width: 130px;
    display: flex;
    align-items: center;
}

.navbar1 {
    background: #F5F8DE;
    display: flex;
    justify-content: space-between;
}

.header-items {
    all: unset;
    transition: 0.2s linear;
}

.menu {
    display: flex;
    align-items: center;
}

.header-items:hover {
    cursor: pointer;
}

.header-main-items:not(:last-of-type) {
    all: unset;
    color: #4C4444;
    padding-right: 1rem;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    height: 100%;
}

#item5 {
    border: none;
    padding: 10px 10px;
    color: #4C4444;
    background-color: #F5F8DE;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.10);
    border-radius: 50px;
    font-weight: 400;
}

.userlogo {
    object-fit: cover;
    height: inherit;
    width: inherit;
}

#userpicture {
    height: 24px;
    width: 24px;
}




.account-icon {
    height: 24px;
    display: flex;
}

.active {
    color: #9a9c8a;
}

path {
    transition: 0.2s linear;
}

.active path {
    fill: #9a9c8a;
}

@media (max-width: 640px) {
    .logoImg {
        width: 70px;
    }

    .header-items {
        font-size: 18px;
    }

    .menu {
        position: fixed;
        right: -280px;
        width: 280px;
        height: 100%;
        background: #F5F8DE;
        transition: 0.4s ease-in-out;
        display: flex;
        align-items: start;
        z-index: 100000;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }

    .menu ul li {
        display: block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid #4C4444;
    }

    .menu_icon {
        display: inline-block;
        position: relative;
        right: 0;
        top: 20 px;
    }

    .menu_icon span {
        width: 32px;
        height: 3px;
        background: #4C4444;
        display: block;
        transition: 0.2s ease-in-out;
    }

    .menu_icon span:nth-child(2) {
        margin: 4px 0;

    }

    .menu_iconClass span:nth-child(2) {
        display: none;
    }

    .menu_iconClass span:nth-child(1) {
        transform: rotate(40deg);
    }


    .menu_iconClass span:nth-child(3) {
        transform: rotate(-40deg);
        margin-top: -3px;
    }

    .menuClasse {
        right: 0;
        transition: 0.4s ease-in-out;
    }

}

/*/////////////////////////////////////////////////////////////////////////////////*/
.menu {
    margin-top: 10px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 24px;
}
