.drinkGrid-topButton {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 22px;
    margin-top: 37px;
}

.drinkGrid-topButton-top {
    border: 0;
    width: 223px;
    height: 35px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
}

.drinkGrid-topButton-top:nth-child(1) {
    background: #9DD016;
    color: #FFFFFF;
    grid-column-start: 5;
    grid-column-end: 7;
}

.drinkGrid-topButton-top:nth-child(2) {
    background: #ffffff;
    color: #9DD016;
    grid-column-start: 7;
    grid-column-end: 9;
}