<div class="main-container-registration">
    <p class="main-container-registration-title">Введіть дані для входу:</p>
    <div class="main-container-registration-form">
        <div class="main-container-registration-form-field">
            <div class="main-container-registration-form-login">
                <p class="main-container-registration-form-p">Логін:</p>
                <input class="main-container-registration-form-input" type="text" [(ngModel)]="login"placeholder="Введіть своє ім'я">
            </div>
            <div class="main-container-registration-form-password">
                <p class="main-container-registration-form-p">Пароль:</p>
            <input class="main-container-registration-form-input" type="password" [(ngModel)]="password" placeholder="Введіть номер телефону користувача">
            </div>
        </div>
        <div class="main-container-registration-form-button-group">
            <button class="main-container-registration-form-button-input" (click)="onSubmit()">Увійти</button>
            <button class="main-container-registration-form-button-input" [routerLink]="['/login']">Зареєструватись</button>
        </div>
    </div>
</div>