<div class="main-container-registration">
    <p class="main-container-registration-title">Введіть дані для входу:</p>
    <div class="main-container-registration-form">
        <div class="main-container-registration-form-field">
            <div class="main-container-registration-form-login">
                <p class="main-container-registration-form-p">Номер Телефону:</p>
                <input class="main-container-registration-form-input" type="text" #phoneInput
                    placeholder="Введіть своє ім'я">
            </div>
        </div>
        <div class="main-container-registration-form-button-group">
            <button class="main-container-registration-form-button-input" (click)="onSubmit(phoneInput.value)">Увійти</button>
            <button class="main-container-registration-form-button-input"
                [routerLink]="['/login']">Зареєструватись</button>
        </div>
        <div class="verification" *ngIf="showVerification">
            <input type="text" #verificationCode>
            <button (click)="onCodeSubmit(verificationCode)"></button>
        </div>
    </div>
</div>
<div id="recaptcha"></div>
