$custom-primary: (
    50 : #f3f9e3,
    100 : #e2f1b9,
    200 : #cee88b,
    300 : #bade5c,
    400 : #acd739,
    500 : #9dd016,
    600 : #95cb13,
    700 : #8bc410,
    800 : #81be0c,
    900 : #6fb306,
    A100 : #f0ffdd,
    A200 : #daffaa,
    A400 : #c4ff77,
    A700 : #b9ff5e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent: (
    50 : #fefefb,
    100 : #fcfdf5,
    200 : #fafcef,
    300 : #f8fae8,
    400 : #f7f9e3,
    500 : #f5f8de,
    600 : #f4f7da,
    700 : #f2f6d5,
    800 : #f0f5d1,
    900 : #eef3c8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


