<div class="main-container-registration">
    <p class="main-container-registration-title">Введіть дані для реєстрації:</p>
    <div class="main-container-registration-form">
        <div class="main-container-registration-form-field">
            <div class="main-container-registration-form-name">
                <p class="main-container-registration-form-p">Ім'я:</p>
                <input class="main-container-registration-form-input" type="text">
            </div>
            <div class="main-container-registration-form-birth">
                <p class="main-container-registration-form-p">Дата народження:</p>
                <input class="main-container-registration-form-input" type="text" #nameInput placeholder="__/__/__">
            </div>
            <div class="main-container-registration-form-phone">
                <p class="main-container-registration-form-p">Номер телефону:</p>
                <input class="main-container-registration-form-input" type="text" #phoneInput
                    placeholder="(___) ____ __ __">
            </div>
        </div>
        <button class="main-container-registration-form-button-input"
            (click)="onSubmit(phoneInput.value, nameInput.value)">Зареєструватись</button>
        <div class="verification" *ngIf="showVerification">
            <input type="text" #verificationCode>
            <button (click)="onCodeSubmit(verificationCode)"></button>
        </div>
    </div>
</div>
<div id="recaptcha"></div>