<div class="main-container-registration">
    <p class="main-container-registration-title">Введіть дані для реєстрації:</p>
    <div class="main-container-registration-form">
        <div class="main-container-registration-form-field">
            <div class="main-container-registration-form-name">
                <input class="main-container-registration-form-input" #nameInput type="text" placeholder="Введіть ім'я">
            </div>
            <div class="main-container-registration-form-phone">
                <input class="main-container-registration-form-input" type="text" #phoneInput
                    placeholder="Введіть номер телефону">
            </div>
        </div>
        <button class="main-container-registration-form-button-input"
            (click)="onSubmit(phoneInput.value, nameInput.value)">Зареєструватись</button>
        <div class="verification" *ngIf="showVerification">
            <input class="verifInput" type="text" #verificationCode>
            <button class="verif" (click)="onCodeSubmit(verificationCode)">Send Code</button>
        </div>
    </div>
</div>
<div id="recaptcha"></div>