<div class="main-container-profile">
    <div class="main-container-profile-info">
        <div class="main-container-profile-info-all">
            <div class="main-container-profile-photo">
                <img src="/assets/img/userPhotoGirl.png" alt="">
            </div>
            <div class="aboutUserInfo">
                <p>{{ currentUser?.displayName ?? currentUser?.email }}</p>
                <p>08/10/1998</p>
                <p>{{ currentUser?.phoneNumber }}</p>
            </div>
            <div class="aboutUserQR">
                <p>{{ currentUser?.displayName === 'diana' ? '149' : '0'}}</p>
                <qrcode  class="generatedQR" [qrdata]="currentUser?.phoneNumber"
                    [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
        <p class="main-container-profile-notification">Нагадування: не забувайте про наші тематичні вечірки та ігри!
            <br>Ви отримаєте індивідуальне запрошення в повідомленні на телефоні.
        </p>
    </div>
</div>