.main-container-profile {
    display: grid;
    grid-template-columns: repeat(12 1fr);
    min-height: 75vh;
}

.main-container-profile-info {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 1197px;
    height: 718px;
    margin-top: 105px;
    margin-bottom: 105px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.aboutUserInfo {
    display: grid;
}

.aboutUserInfo p:nth-child(1){
    align-self: flex-end;
}

.aboutUserInfo p:nth-child(2){
    align-self: center;
}

.aboutUserInfo p:nth-child(3){
    align-self: flex-start;
}

.main-container-profile-info-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 50px;
    padding-left: 72px;
    padding-right: 72px;
    margin-top: 85px;
    height: 299px;

}

.main-container-profile-photo {
    border-right: 1px solid #C2CFA0;
    display: flex;
}

.aboutUserInfo {
    text-align: center;
    border-left: 1px solid #C2CFA0;
    border-right: 1px solid #C2CFA0;
}

.aboutUserQR {
    display: grid;
    justify-items: center;
    border-left: 1px solid #C2CFA0;
    padding-left: 80px;
}

.aboutUserQR p {
    align-self: end;
}

.aboutUserQRPhoto {
    width: 200px;
}

.main-container-profile-notification {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    align-items: center;
}