<div class="main-container">
    
    <div class="container-content">
        <div class="container-content-welcome">
            <h3 class="welcoming">
                Ласкаво просимо до програми лояльності кафе!
            </h3>
        </div>
        <img class="rightphoto" src="assets/img/cornerRight.png" alt="kawa">
    </div>


    <div class="container-content">
        <div class="slides mainPage__slides">
            <div class="slides__part">
                <img src='/assets/img/bonuses.png' alt="building" class="slides__photo" />
                <div class="slides__overlay">
                    <div class="slides__text">
                        <h1 class="slides__title">Заробіток бонусних балів</h1>
                        <div class="slides__description">
                            Після реєстрації в нашій програмі лояльності, ви отримуєте свій особистий профіль на сайті
                            та
                            індивідуальний QR-код, яка дозволяє вам заробляти та зберігати бонусні бали з кожного
                            замовлення, що робите у нас.
                        </div>
                    </div>
                </div>
            </div>

            <div class="slides__part">
                <img src='/assets/img/excl.png' alt="building" class="slides__photo" />
                <div class="slides__overlay">
                    <div class="slides__text">
                        <h1 class="slides__title">Ексклюзивні пропозиції</h1>
                        <div class="slides__description">
                            Ми
                            завжди стежимо за тим, щоб вони почувалися особливими, отримували першочерговий доступ до
                            нових продуктів та мали можливість приймати участь у захоплюючих акціях та розіграшах.
                        </div>
                    </div>
                </div>
            </div>

            <div class="slides__part">
                <img src='/assets/img/inv.png' alt="building" class="slides__photo" />
                <div class="slides__overlay">
                    <div class="slides__text">
                        <h1 class="slides__title">Запрошення на тематичні вечірки</h1>
                        <div class="slides__description">
                            Ми регулярно організовуємо ексклюзивні заходи, дегустації та тематичні вечірки, на які ви
                            зможете завітати, насолоджуючись особливими перевагами та привілеями.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-content">
        <img class="leftphoto" src="assets/img/cornerLeft.png" alt="kawa">
        <div class="rightDiv">
            <div class="rightDiv-bottom">
                <h3 class="rightText2">Не втрачайте можливості стати членом нашого клубу програми лояльності!
                    Реєструйтесь прямо зараз:</h3>
                <button class="registr-button" [routerLink]="['/login']">Зареєструватись</button>
            </div>
        </div>
    </div>
</div>