<div class="main-container">
    <div class="container-content">
        <h3 class="welcoming">
            Ласкаво просимо до програми лояльності кафе! 
        </h3>
        <img class="rightphoto" src="assets/img/cornerRight.png" alt="kawa">
    </div>
    <div class="container-content">
        <p>Ми раді представити вам нашу програму лояльності, яка дарує вам чудові можливості та переваги під час кожного відвідування нашого кафе. Ця програма спеціально розроблена для наших найвірніших клієнтів, які цінують якість, смак та незабутні враження.</p><br>
        <p>Отримання та витрачання бонусів є дуже простим і зручним процесом. Після реєстрації в нашій програмі лояльності, ви отримуєте свій особистий профіль члена клубу на сайті та індивідуальний QR-код, яка дозволяє вам заробляти та зберігати бонусні бали з кожного замовлення, що робите у нас. За кожні витрачені гроші ви отримуєте певну кількість бонусів, які накопичуються на вашому рахунку.</p><br>
        <p>Але це ще не все! Бути членом нашого клубу програми лояльності дарує вам багато інших переваг. Ви будете першими, хто дізнається про нові акції та спеціальні пропозиції, доступні тільки для учасників програми. Крім того, ми регулярно організовуємо ексклюзивні заходи, дегустації та тематичні вечірки, на які ви зможете завітати, насолоджуючись особливими перевагами та привілеями.</p><br>
        <p>Ми цінуємо ваше довір'я та вірність, тому робимо все можливе, щоб кожне ваше відвідування у нашому кафе було незабутнім. Членство в нашому клубі програми лояльності відкриває двері до світу вишуканої кулінарії, приємної атмосфери та особливих подарунків.</p>
    </div>
    <div class="container-content">
        <img class="leftphoto" src="assets/img/cornerLeft.png" alt="kawa">
        <div class="rightDiv">
            <h3>Переваги перебування в програмі лояльності:</h3>
            <ul class="">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
   </div>
</div>