.drinkGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* margin-top: 37px; */
    margin-bottom: 80px;
}

.drinkGridHelper {
    grid-column-start: 3;
    grid-column-end: 11;
}

.drinkGrid-hotDrink-items {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    justify-self: center;
    display: grid;
}

.drinkGrid-hotDrink-items-content {
    text-align: center;
    margin-top: 10px;
}

.drinkGrid-hotDrink {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 56px;
    grid-row-gap: 37px;
    margin-top: 37px;
    /* width: auto; */

}

.cardPhoto {
    padding: 8px;
}

.drinkGrid-coldDrink-items {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    justify-self: center;
    display: grid;
}

.drinkGrid-coldDrink-items-content {
    text-align: center;
    margin-top: 10px;
}

.drinkGrid-coldDrink {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 56px;
    grid-row-gap: 37px;
    margin-top: 37px;
}

/* .drinkGrid-topButton-top {
    border: 0;
    width: 223px;
    height: 35px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
}

.drinkGrid-topButton-top:nth-child(1) {
    background: #9DD016;
    color: #FFFFFF;
    grid-column-start: 5;
    grid-column-end: 7;
}

.drinkGrid-topButton-top:nth-child(2) {
    background: #ffffff;
    color: #9DD016;
    grid-column-start: 7;
    grid-column-end: 9;
} */

.drinkGrid-topButton-bottom {
    border: 0;
    width: 221px;
    height: 25px;
    background: #C2CFA0;
    color: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    grid-column-start: 6;
    grid-column-end: 8;
}

.drinkGrid-bottomButton-bottom {
    border: 0;
    width: 221px;
    height: 25px;
    background: #C2CFA0;
    color: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    grid-column-start: 6;
    grid-column-end: 8;
}

.drinkGrid-bottomButton {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 37px;
}

.drinkGrid-topButton {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 22px;
    /* margin-top: 37px; */
}

.drinkGrid-topButton-b {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 37px;
}