.cacaoimg {
    width: 174px;
}

.drinkGrid-hotDrink-items {
    width: 190px;
    height: 272px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    background-color: rgb(102, 230, 43);
}

.drinkGrid-hotDrink {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 56px;
    grid-row-gap: 37px;
    place-content: center;
}